
html, body {
	font-family: Georgia;
	border: 0;
	color: #C7C7C7;
	background: #383838;
}

body, p, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote {
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
	font-family: 'Times New Roman', Times, serif;
}

h1 {
	text-align: center;
	padding: 10px 0;
}

ul {
	list-style: none;	
}

li{
	border: 2px outset black;
	border-radius: 13px;
	padding: 10px;
	background-color: #066163;
}

.mainContainer{
	display: column;
	align-items: center;
	justify-items: center;
	margin: auto;

	padding: 10px;
}

@media screen and (max-width: 540px) {
    .mainContainer .userContent {
        width: 80%;
    }
}

@media screen and (min-width: 541px) {
    .mainContainer .userContent {
		width: 50%;
    }
}

.userContent {
	margin: auto;
	padding: 10px;
	text-align: left;
}

.userDropdown{
	padding: 10px;
	text-align: center;
	border-radius: 10px;
}

.userDropdown select{
	text-align: center;
	border-radius: 30px;
	border-color: rgb(0, 252, 0);
	border-width: 2px;
}

